/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: brack;
}

//メインビジュアル
.main-visual {
  position:  relative;
  width: 1200px;
  height: 500px;
  text-align:  center;
  background-image: url(img/top.jpg);
  background-size: cover;
  background-position: center;
  margin:  auto;
}
.main-visual-content {
  position:  absolute;
  width: 50%;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-visual-title {
  color: #fff; /* 文字色を白に変更 */
  font-size: 6rem;
}

.main-visual-text {
  color: #fff; /* 文字色を白に変更 */
  font-size: 2rem;
}
// max-width
.mw-md {
  max-width: 576px;
}
.mw-xl {
  max-width: 1200px;
}
// 「ログインしました」などのフラッシュ用スタイル
header {
  background: #C2EEFF;
}
.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.fa, .fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  line-height: normal;
}

#notice {
  color: green;
}

#error_explanation {
  color: red;
}

