@media screen and (max-width: 576px) {
  .ranking {
    margin-top: 10px;
  }
  .ranktitle{
    margin-top: 5px;
  }
  .rankedit{
    margin-top: 6px;
  }
  .listedit {
    margin-top: 6px;
  }
  .listtitle{
    margin-top: 5px;
  }
}
@media screen and (min-width:577px) and (max-width:768px) {
  .ranktitle{
    text-align: center;
  }
}