//メインビジュアル
.main-visual {
  position:  relative;
  width: 100%;
  height: 500px;
  max-width: 1200px;
  text-align:  center;
  background-image: image-url("img/top.jpg");
  background-size: cover;
  background-position: center;
  margin:  auto;
}
.main-visual-content {
  position:  absolute;
  width: 50%;
  height: 180px;
  max-width: 1200px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-visual-title {
  color: #fff;
  font-size: 6rem;
  margin: auto;
}

.main-visual-text {
  color: #fff;
  font-size: 2rem;
  margin: auto;
}

@media screen and (max-width: 576px) {
  .main-visual {
    position:  relative;
    width: 100%;
    height: 200px;
    max-width: 1200px;
    text-align:  center;
    background-image: image-url("img/top.jpg");
    background-size: cover;
    background-position: center;
    margin:  auto;
  }
  .main-visual-content {
    position:  absolute;
    width: 50%;
    height: 50px;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .main-visual-title {
    font-size: 2rem;
  }
  .main-visual-text {
  font-size: 0.5rem;
}
}